.button {
    display: block;
    margin: 5px auto;
    font-size: large;
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    box-shadow: bisque;
}

.button:hover {
    transform-origin: center;
    transform: scale(1.5);
}