.popupDialog {
    padding: 25px;
    border-radius: 8px;
    border: none;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    font-family: sans-serif;
    z-index: 1000;
    background-color: #4A5568;
    color: white;
}
.popupDialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
}

.closeBtn {
    padding: 6px 12px;
    border: 2px solid #2D374811;
    background-color: #2D3748;
    color: white;
    box-shadow: 0 4px 12px rgba(127, 0, 0, 0.3);
    border-radius: 4px;
    font-size: 14px;
}
.closeBtn:hover {
    transform-origin: center;
    transform: scale(1.2);
}

.wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 2px;
    border-radius: 5px;
    max-width: fit-content;
    margin: 1vh auto 2vh auto;
}

.image img {
    max-width: 300px;
    max-height: 300px;
    filter: drop-shadow(2px 2px 5px);
}

.name {
    font-size: larger;
}